body {
  color: rgb(49, 48, 48);
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: normal;
}

a {
  color: rgb(146, 107, 17);
}

/* Wraps content to the middle of the page. */
.wrapper {
  max-width: 640px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Index page. */
#index h1 {
  color: rgb(251, 249, 238);
  background-color: blue;
  padding: 20px;
  margin: 0;
}

/* Nav – Stripes for site-wide navigation. */
.nav-link {
  padding: 12px 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  display: block;
  text-decoration: none;
}

.nav-link::before {
  content: "← ";
}

.nav-link--index {
  background-color: blue;
  color: rgb(251, 249, 238);
}

.nav-link--articles {
  background-color: rgb(146, 107, 17);
  color: rgb(251, 249, 238);
}

/* Row list - List with date and title without bullet point, and lines above and below.
Links occupy all the area of each item. */
.row-list {
  list-style-type: none;
  padding: 0;
}

.row-list li {
  border-bottom: 1px solid rgb(49, 48, 48);
}

.row-list li:first-child {
  border-top: 1px solid rgb(49, 48, 48);
}

.row-list a {
  padding: 8px 0;
  display: block;
  text-decoration: none;
  color: rgb(49, 48, 48);
}

.row-list a:hover {
  color: rgb(146, 107, 17);
}

.row-list__date {
  display: inline-block;
  width: 80px;
}